@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

h2{
    color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("background.svg");
  background-color: #FEC513;
  color: #fff;
}

  .accordion-container{
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
  }
  .accordion-container > h2{
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  .set{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
  }
  .set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .set > a i{
    float: right;
    margin-top: 2px;
  }
  .set > a.active{
    background-color:#3399cc;
    color: #fff;
  }
  .content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
  }
  .content p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }

  .up{
    font-size: 130%;
    padding-top: 6px;
    cursor: pointer;
    right: 1rem;
  }

  .down{
    font-size: 130%;
    padding-top: 6px;
    cursor: pointer;
    right: 1rem;
  }

.accordion-container .set:first-child a.up,
.accordion-container .set:last-child a.down {
  display: none;
}

ul{
    color: black;
    list-style-type: none;
}

#js{
    font-family: Lato;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }
  