@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("background.svg");
  background-color: #FEC513;
  color: #fff;
}

nav{
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: lato;
  /* border-bottom: 1px solid black; */
  background-color: #FEC513;
  border-top-left-radius: 5px 0px 0px;
}

.logo{
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-size: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.logo h4{
  font-size: 15px;
}

.nav-links{
  display: flex;
  padding-bottom: 5px;
  justify-content: space-around;
  width: 30%;
  z-index: 9999;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 15px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}
.accordion-container{
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  float: right;
  margin-top: 2px;
}
.set > a.active{
  background-color:#3399cc;
  color: #fff;
}
.content{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}
.up{
  font-size: 130%;
  padding-top: 6px;
  cursor: pointer;
  right: 1rem;
}
.down{
  font-size: 130%;
  padding-top: 6px;
  cursor: pointer;
  right: 1rem;
}


span:first-child span.up,
span:last-child span.down {
  display: none;
}