@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("background.62d84277401f.svg");
  background-color: #FEC513;
  color: #fff;
}

nav{
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: lato;
  /* border-bottom: 1px solid black; */
  background-color: #FEC513;
  border-top-left-radius: 5px 0px 0px;
}

.logo{
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-size: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.logo h4{
  font-size: 15px;
}

.nav-links{
  display: flex;
  padding-bottom: 5px;
  justify-content: space-around;
  width: 30%;
  z-index: 9999;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 15px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-family: lato;
  color: black;
}

.vct{
  width: 60vh;
  
}
.title{
  padding-top: 40px;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #E93C2B;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  font-family: lato;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){
  body{
      overflow-x: hidden;
  }
  .nav-links{
      position: fixed;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #f71e1e;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }

  .logo{
      padding-top: 10px;
  }

  .nav-links li{
      opacity: 0;
  }

  .burger{
      display: block;
  }

  .card-body{
      padding: 10px, 10px, 10px,0;
  }

  .jumbo{
      font-size: 50px;
      align-items: center;
  }
  .jumbo2{
      font-size: 50px;
      align-items: center;
  }
  .jumbo3{
      font-size: 50px;
      align-items: center;
  }

  .circ{
      height: 20%;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity:0;
      transform: translate(50px);
  }
  to{
      opacity: 1;
      transform: translate(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px) ;

}