{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>accordion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'MyApp/second.css'%}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </head>
    <body>
        <div class="accordion-container">
            <h2>Accordion with jquery</h2>
            <div class="set">
              <a href="#">
                Who Am I? <span class="up" href="#">up</span><span class='down' href='#'>down</span>
                <i class="fa fa-plus"></i>
              </a>
              <div class="content">
                <p>My Name is Jerome Emmanuel Zebua. I'm 18 and currently studying Computer Science at Universitas Indonesia. I went to SMAK Penabur Bintaro Jaya High School. I have a lot of hobbies, one of them is photography. </p>
              </div>
            </div>
            <div class="set">
              <a href="#">
                Activities <span class="up" href="#">up</span><span class='down' href='#'>down</span>
                <i class="fa fa-plus"></i>
              </a>
              <div class="content">
                <p> At this moment, there's not many interesting things to do at home. However, I really enjoy hanging out with my friends whenever I have the time. Other than that, I love to do photo hunting with my friends around Jakarta. However, since COVID-19 hits Indonesia I spend most of my time watching YouTube videos and also study.</p>
              </div>
            </div>
            <div class="set">
              <a href="#">
                Current Organization / Volunteer <span class="up" href="#">up</span><span class='down' href='#'>down</span>
                <i class="fa fa-plus"></i>
              </a>
              <div class="content">
                <ul>
                    <li>Head of FLOCS 2020</li>
                    <li>Committee of UX Academy Compfest</li>
                    <li>Committee of Documentation PERAK Fasilkom UI </li>
                    <li>Committee of Creative Educare Fasilkom UI</li>
                </ul>
              </div>
            </div>
            <div class="set">
              <a href="#">
                Past Experiences <span class="up" href="#">up</span><span class='down' href='#'>down</span>
                <i class="fa fa-plus"></i> 
              </a>
              <div class="content">
                <ul>
                    <li>Committee of Documentation Mosaic ABJ 2016</li>
                    <li>Committee of Video Documentation Mosaic ABJ 2017</li>
                    <li>Head of Documentation Cadence ABJ 2018 </li>
                    <li>Head of Video Documentation Mosaic ABJ 2018</li>
                </ul>
              </div>
            </div>
          </div>
    </body>

    <script>
        $(document).ready(function () {
            $(".set > a").on("click", function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this).siblings(".content").slideUp(200);
                    $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
                } else {
                    $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
                    $(this)
                        .find("i")
                        .removeClass("fa-plus")
                        .addClass("fa-minus");
                    $(".set > a").removeClass("active");
                    $(this).addClass("active");
                    $(".content").slideUp(200);
                    $(this).siblings(".content").slideDown(200);
                }
            });
        });

        $(function () {
            $(".up").on("click", function (e) {
                var wrapper = $(this).closest(".set");
                wrapper.insertBefore(wrapper.prev());
            });
            $(".down").on("click", function (e) {
                var wrapper = $(this).closest(".set");
                wrapper.insertAfter(wrapper.next());
            });
        });
    </script>

    <a id='js' href="{% url 'home' %}"> The JQuery Version</a>
</html>