{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jerome's Accordion</title>
        <!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> -->
        <meta name="description" content="Hello">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'MyApp/styles.css'%}">
    </head>
    
    <body>
        <nav>
            <div class="logo">
                <h4>Story 8</h4>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">List</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <h1 class="title">Accordion (JS)</h1>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Who Am I? 
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        My Name is Jerome Emmanuel Zebua. I'm 18 and currently studying Computer Science at Universitas Indonesia. I went to SMAK Penabur Bintaro Jaya High School. I have a lot of hobbies, one of them is photography. 
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Activities
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        At this moment, there's not many interesting things to do at home. However, I really enjoy hanging out with my friends whenever I have the time. Other than that, I love to do photo hunting with my friends around Jakarta. However, since COVID-19 hits Indonesia I spend most of my time watching YouTube videos and also study.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Current Organization / Volunteer
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <p id="committee">
                            <ul>
                                <li>Head of FLOCS 2020</li>
                                <li>Committee of UX Academy Compfest</li>
                                <li>Committee of Documentation PERAK Fasilkom UI </li>
                                <li>Committee of Creative Educare Fasilkom UI</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    Past experience
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        <ul>
                            <li>Committee of Documentation Mosaic ABJ 2016</li>
                            <li>Committee of Video Documentation Mosaic ABJ 2017</li>
                            <li>Head of Documentation Cadence ABJ 2018 </li>
                            <li>Head of Video Documentation Mosaic ABJ 2018</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <a id='jq' href="{% url 'jquery' %}"> The JQuery Version</a>

    <script type="text/javascript" src="{%static 'MyApp/app.js'%}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

</html>